/**
   @file
   * Theming specific to the modals
   *
   */

#islandora-solr-simple-search-form div a,
#auth-control-container > a,
#share-control-container > a {

    cursor: pointer;
}

.modal-body {

    padding: 15px 4px 4px;
}

div#advanced-search-modal.shown {

    top: 152px;
    right: 12px;
}

div#auth-modal.shown {

    /*
    top: 164px;
    */
    top: 0px;
    right: 0px;

    /*
      width: 16%;
      */
    width: 262px;
}

div#share-modal.shown {

    /*
    top: 164px;
    */
    top: 0px;
    right: 0px;

    /*
    width: 16%;
    */
    width: 262px;
}

#auth-modal-help,
#share-modal-help {

    float: right;
}

#contact {

    /* margin-left: 33.3%; */
}

div#contact.shown {

    /* top: 164px; */
    top: 0px;
    /* left: 0px; */

    left: 30%;
}

div#contact.shown div.modal-dialog div.modal-content div.modal-body section#block-nodeblock-2.block div#node-2.node div.content form#webform-client-form-2.webform-client-form div div#webform-component-message.form-item div.form-textarea-wrapper textarea#edit-submitted-message.form-textarea {

    height: 56px;
}

#share-modal.lafayette-dss-modal div.popover div.arrow:after {

    left: 30px;
}

#share-modal.lafayette-dss-modal div.popover div.arrow {

    border-bottom-color: transparent;
}

/**
 * Styling rules specific to the advanced search modal
 *
 */

.lafayette-dss-modal {

    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    /*
      left: 50%;
      margin-left: -280px;
      */
    outline: medium none;
    /*
      position: fixed;
      top: 10%;
      */
    width: 560px;
    z-index: 1050;
    display: none;

    position: absolute;
}

.modal-contact-body {

    /* max-height: none; */
    max-height: 186px;
}

.popover.bottom.in {

    z-index:10000;
}

/*
.popover.bottom .arrow {

    left: 86%;
}
*/

.close {

    color: #0088CC;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    opacity: inherit;
    text-shadow: inherit;
}


.close:hover, .close:focus {

    color: #005580;
    text-decoration: underline;
    opacity: 1;
}
