.sharethis-wrapper > span {

    clear: left;
    float: left;
}

.sharethis-wrapper {

    /* width: 38%; */
    width: 108px;
    cursor: pointer;
}

.stButton {

    margin-bottom: 10%;
}

.sharethis-anchor-wrapper {

    margin-left: 38px;
    margin-top: 6px;
    position: absolute;
}
