/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.navbar .logo {

    margin-top: 0.1%;
    margin-left: 5%;
}

div.container {

    margin-top: 0.8%;
}

div.main-container {

    margin-top: 10.9%;
    /* margin-top: 1.9%; */
}

header#navbar {

    background-color: #ffffff;
}

div.navbar-header {

    text-align: center;
}

div.navbar-header h2 {

    margin-right: 50%;
    font-size: x-large;
}

/* Remove the backdrop */
/* Work-around; refactor */
div.modal-backdrop.fade.in {

    background-color: transparent;
    z-index: -10000;
}

div.auth-share-container.container {

    width: 11%;
    float: right;
    margin-top: 0px;
}

div.auth-icon,
div.share-icon {

    border: 2px solid;
    height: 40px;
    width: 40px;
    margin: auto;
}

div.modal-container.container {

    float: left;
}

.modal-container.container,
.modal-control-container.container {

    /*
    width: 48px;
    */

    width: 64px;
    text-align:center;
}

.dss-logo {

    border: 2px solid;
}

/* Demo for uploaded images */
.btn {

    /*
     background-image: url('../files/ldr_breadcrumbs_screenshot_0.png');		
     */
}
